<div class=" mx-20 my-16 flex md:flex-row flex-col gap-4 md:justify-between">

    <div class="md:w-96  w-46 text-sm mb-5 border p-10 border-black rounded-2xl">
        <p>John Doe</p>
        <p class="text-lime-500">ACHAT VERIFIER</p>
        <p class="text-sm text-gray-400 h-10">Dépot de l'avis le 26 avril 2024</p>
        <p class="wrap-text">ceci est un avis avec un texte potentiellement très long qui devrait revenir à la ligne correctement.</p>

    </div>
    <div class="md:w-96  w-46 text-sm mb-5 border p-10 border-black rounded-2xl">
        <p>John Doe</p>
        <p class="text-lime-500">ACHAT VERIFIER</p>
        <p class="text-sm text-gray-400 h-10">Dépot de l'avis le 26 avril 2024</p>
        <p class="wrap-text">ceci est un avis avec un texte potentiellement très long qui devrait revenir à la ligne
            correctement.</p>

    </div>
    <div class="md:w-96  w-46 text-sm mb-5 border p-10 border-black rounded-2xl">
        <p>John Doe</p>
        <p class="text-lime-500">ACHAT VERIFIER</p>
        <p class="text-sm text-gray-400 h-10">Dépot de l'avis le 26 avril 2024</p>
        <p class="wrap-text">ceci est un avis avec un texte potentiellement très long qui devrait revenir à la ligne
            correctement.</p>


    </div>
</div>