<h1 class="px-4 mx-4 mt-20 text-4xl text-emerald-green font-aquawax lg:px-24">Ce que nos clients en pensent</h1>

<div class="mx-4 mt-4 mb-20 lg:mx-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" *ngIf="satisfactions.length > 0">
    <div class="border border-gray-300 bg-white rounded-2xl shadow-lg p-6 flex flex-col justify-between" *ngFor="let satisfaction of satisfactions">
        <p class="font-semibold text-lg">{{satisfaction.userUuid.firstname}} {{satisfaction.userUuid.lastname}}</p>
        <p class="">{{ satisfaction.rating }}</p>
        <p class="text-lime-500 font-medium">ACHAT VERIFIÉ</p>
        <p class="text-sm text-gray-500 mb-4">Dépot de l'avis le {{satisfaction.createdAt}}</p>
        <p class="text-gray-700">{{ satisfaction.comment }}</p>
    </div>
</div>

<div *ngIf="satisfactions.length === 0">
    <p>Aucun avis disponible.</p>
</div>