<div class="mx-20 my-20">

    <h1 class="text-3xl mb-10 w-3/4">Comment devenir partenaire sur notre site e-commerce ?</h1>

    <p class=" text-2xl mb-8">Si vous souhaitez coopérer en tant que fournisseur, les informations suivante doivent être
        fourni : </p>
    <ul class="list-disc w-3/4 text-sm ">
        <li class="text-xm mb-4">
            Une brève description de la marque, sa part en pourcentage et en argent parmi les produits et prix analogues
            sur
            le
            marché.
        </li>
        <li class="text-xm mb-4">
            Chiffre d'affaires trimestriel selon les périodes précédentes dans différents types de ventes (online,
            off-line,
            groupe)
        </li>
        <li class="text-xm mb-4">
            Chiffre d'affaires estimé en tenant compte de la saisonnalité.


        </li>
        <li class="text-xm mb-4">
            Liste des marques concurrentes — leur part sur le marché.

        </li>
        <li class="text-xm mb-4">
            Liste des produits concurrents — leur part sur le marché.
        </li>
        <li class="text-xm mb-4">
            Fonds marketing pour le développement de la marque de la part du fournisseur et de la marque


        </li>
        <li class="text-xm mb-4">
            Marginalité et degré de fiabilité des prix fixes sur le marché.

        </li>
        <li class="text-xm mb-4">
            Préciser les caractéristiques dominantes de la marque, ses faiblesses et ses forces.

        </li>
        <li class="text-xm mb-4">

            Préciser la fréquence d'approvisionnement et le volume des soldes d'entrepôt.

        </li>
        <li class="text-xm mb-4">

            Conditions de crédit

        </li>
        <li class="text-xm mb-4">

            Mode de paiement
        </li>
        <li class="text-xm mb-4">

            Service, possibilité de retour

        </li>
        <li class="text-xm mb-4">
            Consignation et modalités de rotation des stocks


        </li>
    </ul>
    <div class="text-xl">
        <p>Envoyez-nous vos informations par email :</p>
        <p class="text-emerald-green">mobalpa.provence&#64;gmail.com</p>
    </div>
</div>