<!-- <div class="flex overflow-x-auto overflow-hidden space-x-4 p-4">
    <div *ngFor="let article of articles" class="flex-shrink-0 w-80">
        <app-medium-article></app-medium-article>
    </div>
</div> -->

<div class="relative overflow-hidden w-auto h-full m-20">
    <div class=" justify-center  md:flex md:justify-between">
        <p class="text-4xl  text-center">Promo sur les petits électroménager</p>
        <div class="flex justify-center py-5">
            <a href="#"
                class="text-sm md:text-lg items-center bg-emerald-green text-white py-1 px-5 rounded-xl  ">voir
                plus</a>
        </div>
    </div>

    <div class="flex flex-col md:flex md:flex-row  md:transition-transform md:duration-500"
        [style.transform]="transform">
        <div class="md:w-1/4 md:box-border md:p-10 justify-center md:h-full py-16" *ngFor="let product of products">
            <app-medium-article></app-medium-article>
        </div>
    </div>
    <div class="hidden md:block">
        <button class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-800 text-white p-2"
            (click)="prev()">&#10094;</button>
        <button class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-800 text-white p-2"
            (click)="next()">&#10095;</button>
    </div>
</div>