<div class="mx-5 py-8 min-h-screen h-auto">
    <!-- Banner Section -->
    <div
        class="relative bg-gradient-to-r from-mobalpa-green to-emerald-green h-64 rounded-lg shadow-md overflow-hidden mb-8">
        <img src="assets/marbretexturevert.png" alt="Banner Image"
            class="absolute inset-0 w-full h-full object-cover opacity-30">
        <div class="absolute inset-0 bg-black opacity-20"></div>
        <div class="relative z-10 flex flex-col items-center justify-center h-full text-white">
            <h1 class="text-4xl sm:text-5xl font-bold mb-4">Toutes les promotions</h1>
            <p class="text-lg sm:text-xl">Profitez de nos offres exceptionnelles</p>
        </div>
    </div>

    <!-- Filter Section -->
    <div class="flex flex-col sm:flex-row justify-between items-center mb-4">
        <span class="text-gray-700">{{ filteredProducts.length }} article<span
                *ngIf="filteredProducts.length > 1">s</span> trouvé<span *ngIf="filteredProducts.length > 1">s</span>
        </span>
        <div class="flex items-center space-x-2 mt-2 sm:mt-0">
            <span class="text-gray-500">Trier par:</span>
            <select class="border border-gray-300 p-2 rounded-lg" (change)="onSortChange($event)" name="sort">
                <option value="relevance">Pertinence</option>
                <option value="price-asc">Prix : du moins cher au plus cher</option>
                <option value="price-desc">Prix : du plus cher au moins cher</option>
            </select>
        </div>
    </div>

    <!-- Product Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-6 mb-8">
        <div *ngFor="let product of filteredProducts" class="border p-4 rounded-lg flex flex-col">
            <a  href="/categories/{{ product.uri }}" class="flex items-center space-x-1">
                <span class="text-sm text-custom-blue ml-1">{{ product.category.name }}</span>
            </a>
            <a  href="/categories/{{ product.uri }}" class="block">
                <div class="flex items-center justify-center">
                    <img [src]="product.images.length > 0 ? product.images[0].uri : 'assets/default-image.jpg'"
                        alt="{{ product.name }}" class="w-40 h-auto object-cover mb-4">
                </div>
                <h2 class="flex items-center justify-start gap-x-4 text-lg font-bold mb-2">
                    {{ product.name }}
                    <span *ngIf="discountRate(product) !== null" class="text-xl font-semibold text-red-600">
                        &mdash; {{ discountRate(product) | number: '1.0' }}%
                    </span>
                </h2>
                <p class="text-sm text-gray-500">{{ product.description }}</p>
                <div class="flex items-center justify-between mt-4">
                    <div class="flex items-center space-x-2">
                        <span class="text-gray-500">{{ product.brand.name }}</span>
                    </div>
                </div>
            </a>
            <div class="flex items-center justify-between my-2">
                <div class="flex items-center space-x-2">
                    <span *ngFor="let color of product.colors" [style.background-color]="getColorHex(color.name)"
                        [ngClass]="{
                            'w-6 h-6 rounded-full cursor-pointer transition border-2': true,
                            'border-black': selectedProductColor[product.uuid]?.name === color.name,
                            'border-gray-300': selectedProductColor[product.uuid]?.name !== color.name
                        }" (click)="selectColor(product, color)">
                    </span>
                </div>
            </div>
            <p class="text-xl font-semibold mb-2">
                <span *ngIf="discountedPrice(product); else noDiscount">
                    <span>{{ discountedPrice(product) | number: '1.2-2' }} €</span>
                    <span class="ml-2 text-sm line-through text-gray-500">{{ product.price | number: '1.2-2' }} €</span>
                </span>
                <ng-template #noDiscount>
                    {{ product.price | number: '1.2-2' }} €
                </ng-template>
            </p>
            <p class="text-sm text-green-600" *ngIf="product.stock > 0">En stock</p>
            <p class="text-sm text-red-600" *ngIf="product.stock === 0">Rupture de stock</p>
            <div class="mt-auto">
                <button *ngIf="!productAddedOnCart[product.uuid]" (click)="addToCart(product)"
                    class="mt-4 w-full bg-mobalpa-green-alternate text-white p-2 rounded-lg">
                    Ajouter au panier
                </button>
                <button *ngIf="productAddedOnCart[product.uuid]"
                    class="mt-4 w-full text-mobalpa-green-alternate p-2 rounded-lg">
                    Ajouté au panier
                </button>
                <button *ngIf="!productAdded[product.uuid] && isUserAuthenticated" (click)="addToWishlist(product)"
                    class="mt-2 w-full bg-gray-200 text-gray-700 p-2 rounded-lg">
                    Ajouter à la liste de souhaits
                </button>
                <button *ngIf="productAdded[product.uuid] && isUserAuthenticated"
                    class="mt-2 w-full text-gray-700 p-2 rounded-lg">
                    Ajouté à la liste de souhaits
                </button>
            </div>
        </div>
       
    </div>
<div *ngIf="filteredProducts.length === 0" class="flex justify-center text-xl text-gray-600 text-gotham">
    Aucun produit en promotion disponible actuellement.
</div>
    <!-- Pagination -->
    <div class="flex justify-center space-x-2 mt-4 mb-10" *ngIf="totalPages > 1">
        <button (click)="previousPage()" [disabled]="currentPage === 1" class="px-3 py-1 bg-gray-200 rounded">
            Précédent
        </button>
        <button (click)="goToPage(1)"
            [ngClass]="{'bg-blue-500 text-white': currentPage === 1, 'bg-gray-200': currentPage !== 1}"
            class="px-3 py-1 rounded">
            1
        </button>
        <button *ngIf="currentPage > 3" class="px-3 py-1 bg-gray-200 rounded">...</button>
        <button *ngFor="let page of getDisplayedPages()" (click)="goToPage(page)"
            [ngClass]="{'bg-blue-500 text-white': currentPage === page, 'bg-gray-200': currentPage !== page}"
            class="px-3 py-1 rounded">
            {{ page }}
        </button>
        <button *ngIf="currentPage < totalPages - 2" class="px-3 py-1 bg-gray-200 rounded">...</button>
        <button (click)="goToPage(totalPages)"
            [ngClass]="{'bg-blue-500 text-white': currentPage === totalPages, 'bg-gray-200': currentPage !== totalPages}"
            class="px-3 py-1 rounded">
            {{ totalPages }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-3 py-1 bg-gray-200 rounded">
            Suivant
        </button>
    </div>

    <!-- Error Message -->
    <div *ngIf="error" class="error-message text-red-600">
        {{ error }}
    </div>
</div>