<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 ">Puis-je renvoyer tous les articles?</h1>
    <section>
        <p class="text-xm mb-4  w-3/4">Malheureusement, ce n'est pas le cas de tous. Selon la loi française sur la
            protection
            des consommateurs, les biens d'occasion ne peuvent pas non plus être retournés :</p>
        <ul class="list-disc pt-4 w-3/4">
            <li class="text-xm mb-4 ml-8">les denrées alimentaires, les médicaments et les produits,
                articles sanitaires</li>
            <li class="text-xm mb-4 ml-8">films photographiques, plaques photographiques, papier photographique</li>
            <li class="text-xm mb-4 ml-8">produits de corsetterie</li>
            <li class="text-xm mb-4 ml-8">produits de parfumerie et de cosmétique</li>
            <li class="text-xm mb-4 ml-8">produits à base de plumes et de duvet</li>
            <li class="text-xm mb-4 ml-8">jouets souples pour enfants</li>
            <li class="text-xm mb-4 ml-8">jouets gonflables en caoutchouc pour enfants</li>
            <li class="text-xm mb-4 ml-8">brosses à dents</li>
            <li class="text-xm mb-4 ml-8">machines à raser</li>
            <li class="text-xm mb-4 ml-8">lubrifiants de rasage</li>
            <li class="text-xm mb-4 ml-8">peignes, peignes et brosses de massage</li>
            <li class="text-xm mb-4 ml-8">menton de violon</li>
            <li class="text-xm mb-4 ml-8">gants</li>
            <li class="text-xm mb-4 ml-8">tissus</li>
            <li class="text-xm mb-4 ml-8">tissus de tulle et de dentelle</li>
            <li class="text-xm mb-4 ml-8">produits de moquette au mètre</li>
            <li class="text-xm mb-4 ml-8">sous-vêtements</li>
            <li class="text-xm mb-4 ml-8">linge de lit</li>
            <li class="text-xm mb-4 ml-8">produits en emballage aérosol</li>
            <li class="text-xm mb-4 ml-8">presse écrite</li>
            <li class="text-xm mb-4 ml-8">les produits en métal et en tôle, les produits de tuyauterie, le bois de
                construction, les moulures (plinthes, plinthes à gorge), les matériaux en carton (panneaux de fibres et
                d'aggloméré, contreplaqué) et le verre, coupés ou taillés à la dimension spécifiée par l'acheteur
                (client)</li>
            <li class="text-xm mb-4 ml-8">cassettes audio et vidéo, disques pour systèmes de lecture et d'écriture laser</li>
            <li class="text-xm mb-4 ml-8">les produits en cheveux naturels et artificiels (perruques)</li>
            <li class="text-xm mb-4 ml-8">les produits pour bébés (couches, tétines, biberons, etc.)</li>
            <li class="text-xm mb-4 ml-8">des outils pour la manucure et la pédicure (ciseaux, limes à ongles, etc.)</li>
            <li class="text-xm mb-4 ml-8">les bijoux en métaux précieux, pierres précieuses, pierres organogènes et pierres semi-précieuses</li>
        </ul>
    </section>
</div>