<div class="container mx-auto py-8 xl:h-[60vh]">
    <h1 class="text-5xl font-semibold mb-10 ">Service de garantie</h1>
    <section>
        <ul>
            <li class="hover:underline text-blue-700 text-xl hover:text-orange-500 mb-2">
                <a href="/service-de-garantie/reparation-sous-garantie">
                    Comment renvoyer un produit pour une réparation sous garantie?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/quels-produits-sont-retournes-sous-garantie">
                    Quels sont les produits qui peuvent faire l'objet d'une réparation sous garantie?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/ou-demander-le-service-de-garantie">
                    Où demander le service de garantie?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/que-se-passe-t-il-si-le-centre-de-service-ne-peut-pas-reparer-le-produit-pendant-la-periode-de-garantie">
                    Que se passe-t-il si le centre de service ne peut pas réparer le produit pendant la période de garantie?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/dans-quels-cas-la-garantie-n'est-elle-pas-assuree">
                    Dans quels cas la garantie n'est-elle pas assurée?
                </a>
            </li>
        </ul>
    </section>
</div>