<div class="container mx-auto py-8">
    <h1 class="text-5xl font-semibold mb-10 ">Service de garantie</h1>
    <section>
        <ul>
            <li class="hover:underline text-blue-700 text-xl hover:text-orange-500 mb-2">
                <a href="/service-de-garantie/reparation-sous-garantie">
                    Comment renvoyer un produit pour une réparation sous garantie ?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/">
                    Dans quelles situations puis-je retourner les marchandises?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/">
                    Puis-je renvoyer tous les articles?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="/service-de-garantie/">
                    Quels sont les frais de livraison des marchandises en cas de retour?
                </a>
            </li>
        </ul>
    </section>
</div>