<div class="container mx-auto px-4 sm:px-8 md:px-16 lg:px-24 xl:px-32 py-10">
    <h1 class="font-aquawax text-mobalpa-green text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl text-center mb-10">
        Petit Électroménager
    </h1>

    <div class="grid grid-cols-2 gap-4 sm:gap-12 md:grid-cols-2 lg:grid-cols-3">
        <div class="relative    group bg-gray-100 p-6   hover:shadow-lg transition-shadow">
            <a href="#" class="flex items-center justify-between">
                <p class="font-gotham text-start text-black text-base sm:text-lg md:text-xl lg:text-2xl font-bold">
                    Grille pain
                </p>
                <img src="assets/next.png" alt="" class="w-1/10">
            </a>

        </div>
        <div class="relative group bg-gray-100 p-6   hover:shadow-lg transition-shadow">
            <a href="#" class="flex items-center justify-between">
                <p class="font-gotham text-start text-black text-base sm:text-lg md:text-xl lg:text-2xl font-bold">
                    Four à micro-onde
                </p>
                <img src="assets/next.png" alt="">
            </a>

        </div>
        <div class="relative group bg-gray-100 p-6   hover:shadow-lg transition-shadow">
            <a href="#" class="flex items-center justify-between">
                <p class="font-gotham text-start text-black text-base sm:text-lg md:text-xl lg:text-2xl font-bold">
                    Mixeur
                </p>
                <img src="assets/next.png" alt="">
            </a>

        </div>
        <div class="relative group bg-gray-100 p-6   hover:shadow-lg transition-shadow">
            <a href="#" class="flex items-center justify-between">
                <p class="font-gotham text-start text-black text-base sm:text-lg md:text-xl lg:text-2xl font-bold">
                    Machine à café
                </p>
                <img src="assets/next.png" alt="">
            </a>

        </div>
        <div class="relative group bg-gray-100 p-6   hover:shadow-lg transition-shadow">
            <a href="#" class="flex items-center justify-between">
                <p class="font-gotham text-start text-black text-base sm:text-lg md:text-xl lg:text-2xl font-bold">
                    Friteuse 
                </p>
                <img src="assets/next.png" alt="">
            </a>

        </div>
    </div>
</div>