<div class="mx-5 sm:mx-10 md:mx-20 mb-10">
    <p class="font-gotham text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl p-4 sm:py-12 ">
        Petit Electroménager
    </p>

    <div class="grid grid-cols-2 gap-3 sm:gap-5 md:grid-cols-3">
        <div class="relative group overflow-hidden">
            <img src="assets/png.png" alt=""
                class="w-full h-auto transform transition-transform duration-300 ease-in-out group-hover:scale-110">
          <a href="#"> <p
                class="font-gotham absolute inset-0 flex items-center justify-center text-white text-sm sm:text-base md:text-lg font-bold opacity-0 group-hover:opacity-100 bg-black/70 transition-opacity duration-300 ease-in-out">
                Grille pain
            </p></a>
        </div>
        <div class="relative group overflow-hidden">
        <img src="assets/png.png" alt=""
                class="w-full h-auto transform transition-transform duration-300 ease-in-out group-hover:scale-110">
         <a href="#">    <p
                class="font-gotham absolute inset-0 flex items-center justify-center text-white text-sm sm:text-base md:text-lg font-bold opacity-0 group-hover:opacity-100 bg-black/70 transition-opacity duration-300 ease-in-out">
                Four à micro-onde
            </p></a>
        </div>
        <div class="relative group overflow-hidden">
           <img src="assets/png.png" alt=""
                class="w-full h-auto transform transition-transform duration-300 ease-in-out group-hover:scale-110">
           <a href="#">  <p
                class="font-gotham absolute inset-0 flex items-center justify-center text-white text-sm sm:text-base md:text-lg font-bold opacity-0 group-hover:opacity-100 bg-black/70 transition-opacity duration-300 ease-in-out">
                Mixeur
            </p></a>
        </div>
        <div class="relative group overflow-hidden">
        <img src="assets/png.png" alt=""
                class="w-full h-auto transform transition-transform duration-300 ease-in-out group-hover:scale-110">
            <a href="#"> <p
                class="font-gotham absolute inset-0 flex items-center justify-center text-white text-sm sm:text-base md:text-lg font-bold opacity-0 group-hover:opacity-100 bg-black/70 transition-opacity duration-300 ease-in-out">
                Machine à café
            </p></a>
        </div>
        <div class="relative group overflow-hidden">
        <img src="assets/png.png" alt=""
                class="w-full h-auto transform transition-transform duration-300 ease-in-out group-hover:scale-110">
         <a href="#">    <p
                class="font-gotham absolute inset-0 flex items-center justify-center text-white text-sm sm:text-base md:text-lg font-bold opacity-0 group-hover:opacity-100 bg-black/70 transition-opacity duration-300 ease-in-out">
                Friteuse
            </p></a>
        </div>
    </div>
</div>