<div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden p-6 mt-8">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Réinitialiser le mot de passe</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <input
        type="password"
        [(ngModel)]="newPassword"
        name="newPassword"
        placeholder="Nouveau mot de passe"
        required
        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
      >
      <div *ngIf="errorMessage" class="mt-2 text-red-600 text-sm">
        {{ errorMessage }}
      </div>
    </div>
    <button
      type="submit"
      class="w-full px-4 py-2 bg-mobalpa-green text-white font-semibold rounded-lg shadow-md hover:bg-emerald-green focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
    >
      Réinitialiser mon mot de passe
    </button>
  </form>
  <div *ngIf="successMessage" class="mt-4 p-2 bg-green-100 text-green-700 rounded">
    {{ successMessage }}
  </div>
</div>
