<div class="container mx-auto py-8 pl-10 mx-20">
    <h1 class="text-5xl mb-10 w-3/4">Quels sont les frais de livraison?</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
            Les frais peuvent varier en fonction du type de meubles ou d'équipements commandés. Par exemple, la
            livraison de meubles
            de cuisine volumineux ou d'électroménagers peut être plus coûteuse que celle de petits accessoires ou de
            mobilier
            standard.
        </li>
        <li class="text-xm mb-4">
            Le coût de la livraison dépend de la distance entre le magasin ou l'entrepôt de Mobalpa et votre domicile.
            Une livraison
            dans une zone urbaine proche du magasin peut être moins coûteuse qu'une livraison en zone rurale éloignée.
        </li>
        <li class="text-xm mb-4">
            Certaines commandes dépassant un certain montant peuvent bénéficier de la livraison gratuite ou à tarif
            réduit. Les
            conditions spécifiques peuvent varier d'un magasin à l'autre.
        </li>
    </ul>
</div>