<div class="container mx-auto py-8 xl:h-[60vh]">
    <h1 class="text-5xl font-semibold mb-10 ">Retour de marchandises</h1>
    <section>
        <ul>
            <li class="hover:underline text-blue-700 text-xl hover:text-orange-500 mb-2">
                <a href="/retour-de-marchandises/comment-retourner-un-produit">
                    Comment retourner un produit?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-orange-500 mb-2">
                <a href="/retour-de-marchandises/dans-quelles-situations-puis-je-retourner-les-marchandises">
                    Dans quelles situations puis-je retourner les marchandises?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-orange-500 mb-2">
                <a href="/retour-de-marchandises/puis-je-renvoyer-tous-les-articles">
                    Puis-je renvoyer tous les articles?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-orange-500 mb-2">
                <a href="/retour-de-marchandises/frais-de-retour">
                    Quels sont les frais de livraison des marchandises en cas de retour?
                </a>
            </li>
        </ul>
    </section>
</div>