<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Quels sont les frais de livraison des marchandises en cas de retour?</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
            Vous pouvez renvoyer les marchandises par la poste
        </li>
        <li class="text-xm mb-4">
            Si les marchandises sont retournées dans les 14 jours suivant l'achat, les frais d'expédition sont à la
            charge du client. Les frais d'expédition sont calculés selon les tarifs du transporteur en fonction du poids
            réel/volumétrique et de la valeur estimée des marchandises.
        </li>
        <li class="text-xm mb-4">
            Si vous avez reçu le mauvais produit, un produit de qualité insuffisante ou un produit qui ne correspond pas
            à la photo sur le site web, nous vous rembourserons les frais d'envoi de ce retour depuis la succursale.
        </li>
    </ul>
</div>