<div>
    <p class="flex justify-center text-mobalpa-green text-6xl font-aquawax p-10 font-extrabold">Besoin de nous contactez
        ?</p>
    <div class="flex justify-center flex-col">
        <div class=" flex justify-center p-20 bg-[url('/assets/marbretexturevert.png')] bg-cover bg-center">
            <div class="flex flex-col">
                <p class="text-white font-gotham p-10 text-2xl">Vous pouvez nous appelez au numero indiqué ci-dessous :
                </p>
                <div class="flex justify-between space-x-10">
                    <div class="flex-1 ">
                        <div class="flex bg-mobalpa-green p-4 items-center justify-center">
                            <img class="h-5" src="assets/icon/telephone.png" alt="">
                            <p class="text-white font-gotham ml-2"> : 04 88 78 89 09</p>
                        </div>
                        <p class="text-white text-xs flex justify-center ">Prix d'un appel local</p>
                    </div>
                    <div class="flex-1">
                        <div class="flex bg-mobalpa-green p-4 flex-1 items-center justify-center">
                            <a href="https://mobalpa.elioz.fr/3.4/?hash=1595c933fcbc4999e228eb753fe73f10"
                                class="text-white font-gotham">Pour les sourds et malentendants</a>
                        </div>
                        <p class="text-white text-xs flex justify-center text-center">Des opérateurs spécialisés LSF,
                            LPC et TSE vous accompagneront par webcam.</p>

                    </div>
                </div>

            </div>
        </div>
        <div class="flex justify-center">
            <p class=" text-xl p-10">Ou si vous voulez directement nous envoyer un message, vous pouvez via le <a href="/support" class="text-emerald-green">Support</a>
                remplir le formulaire afin de pouvoir nous écrire.</p>
        </div>


    </div>
</div>