<header class="bg-mobalpa-green w-full z-20">
    <div class="bg-emerald-green h-8 hidden md:block  ">
        <div class="flex p- justify-around overflow-hidden  ">
            <div class="flex text_move mt-1">
                <img class='w-6' src="/assets/icon/truck.png" alt="">
                <p class="px-4 md:text-base text-xs ">LIVRAISON RAPIDE !</p>
            </div>
            <div class="flex text_move mt-1">
                <img class='w-6' src="/assets/icon/discount.png" alt="">
                <p class="px-4 md:text-base text-xs">PROMO DU MOMENT !</p>
            </div>
            <div class='flex text_move mt-1'>
                <img class='w-6' src="/assets/icon/back-arrow.png" alt="">
                <p class="px-4 md:text-base text-xs">RETOUR GRATUIT !</p>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6 py-4 flex items-center justify-between relative">
        <div class="flex items-center space-x-6 justify-between">
            <div class="w-40 flex-shrink-0">
                <a href="/"><img src="/assets/logo-MA2.png" alt="Logo" class="h-12 w-auto"></a>
            </div>



            <!-- Menu pour grands écrans -->
            <nav class="hidden md:flex space-x-6">
                <button (click)="toggleSousMenu()" class="text-white font-gotham">Nos produits</button>
                <a href="#" class="text-white font-gotham">Nouveautés</a>
                <a href="#" class="text-white font-gotham">Promo</a>
                <a href="/support" class="text-white font-gotham">Support</a>
            </nav>
        </div>

        <!-- Autres éléments -->
        <div class="flex items-center space-x-7 hidden md:flex">
            <div class="searchBar" *ngIf="showSearchBar">
                <input type="text" name="search" class="rounded-md w-60 p-1">
            </div>
            <button (click)="toggleSearchBar()" class="w-8 h-8 flex-shrink-0">
                <img src="assets/icon/loupe (1).png" alt="Search" class="w-full h-full object-contain">
            </button>
            <img src="assets/icon/user.png" alt="User" class="w-6 h-6 md:w-8 md:h-8">
            <a href="/liste-de-souhaits"><img src="assets/icon/heart (2).png" alt="Favorites" class="w-6 h-6 md:w-8 md:h-8"></a>
            <a href="/panier"><img src="assets/icon/shopping-bag (2).png" alt="Cart" class="w-6 h-6 md:w-8 md:h-8"></a>
        </div>



        <div class="flex gap-5 block md:hidden"><img src="assets/icon/shopping-bag (2).png" alt="Cart"
                class="block md:hidden w-6 h-6 md:w-8 md:h-8">
            <button (click)="toggleMenu()" class="md:hidden text-white focus:outline-none ">
                <svg class="w-6 h-6   " fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>
        <!-- Menu Burger pour les petits écrans -->



    </div>

    <!-- Menu déroulant pour petits écrans -->
    <div id="menu"
        class="md:hidden bg-mobalpa-green text-white font-gotham text-center absolute top-full left-0 right-0 z-50 hidden">
        <input type="text" name="search" class=" md:hidden w-4/5 md:w-1/2 lg:w-1/3 rounded-md p-1 mx-4">

        <a href="#" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Nos produits</a>
        <a href="#" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Nouveautés</a>
        <a href="#" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Promo</a>
        <a href="#" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Se connecter</a>
        <a href="#" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Promo</a>
        <a href="#" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Liste de souhaits</a>
        <a href="/support" class="block px-4 py-2 hover:bg-mobalpa-green-alternate">Support</a>


    </div>



    <div id="sous-menu"
        class=" bg-white flex text-black font-gotham divide-x justify-around absolute top-full left-0 right-0 z-50 hidden
        md:text-xs md:pl-2 md:pr-2">
        <div class="container mx-auto py-8">
            <div class="grid grid-cols-5 gap-8">
                <div>
                    <h2 class="text-xl md:text-sm font-bold">Cuisines</h2>
                    <ul class="mt-4 space-y-2  mb-7 h-36">
                        <li>Plan de travail</li>
                        <li>Table</li>
                        <li>Chaise</li>
                        <li>Decoration</li>
                        <li>Meuble de rangement</li>
                    </ul>
                    <img src="https://st.hzcdn.com/simgs/5c61c342010aabb5_14-6012/home-design.jpg" alt="img">
                </div>
                <div>
                    <h2 class="text-xl md:text-sm font-bold">Petit électro.</h2>
                    <ul class="mt-4 space-y-2  mb-7 h-36">
                        <li>Grille pain</li>
                        <li>Four à micro-onde</li>
                        <li>Mixeur</li>
                        <li>Friteuse</li>
                        <li>Machine à café</li>
                    </ul>
                    <img src="https://st.hzcdn.com/simgs/5c61c342010aabb5_14-6012/home-design.jpg" alt="img">
                </div>
                <div>
                    <h2 class="text-xl md:text-sm font-bold">Grand électro.</h2>
                    <ul class="mt-4 space-y-2  mb-7 h-36">
                        <li>Four</li>
                        <li>Cuisinière</li>
                        <li>Machine à laver</li>
                        <li>Frigo</li>
                        <li>Lave-vaisselle</li>
                    </ul>
                    <img src="https://st.hzcdn.com/simgs/5c61c342010aabb5_14-6012/home-design.jpg" alt="img">
                </div>
                <div>
                    <h2 class="text-xl md:text-sm font-bold">Salle de bain</h2>
                    <ul class="mt-4 space-y-2  mb-7 h-36">
                        <li>Douche</li>
                        <li>Rideau</li>
                        <li>Lavabo</li>
                        <li>Meuble de rangement</li>
                    </ul>
                    <img src="https://st.hzcdn.com/simgs/5c61c342010aabb5_14-6012/home-design.jpg" alt="img">
                </div>
                <div>
                    <h2 class="text-xl md:text-sm font-bold">Accessoire</h2>
                    <ul class="mt-4 space-y-2  mb-7 h-36">
                        <li>Ustensile de cuisine</li>
                        <li>Décoration intérieur</li>
                        <li>Décoration Exterieur</li>
                    </ul>
                    <img src="https://st.hzcdn.com/simgs/5c61c342010aabb5_14-6012/home-design.jpg" alt="img">
                </div>
            </div>
        </div>

        <!-- Ajoutez plus de lignes ici si nécessaire -->
    </div>
</header>