<header class="bg-mobalpa-green relative">
  <div class="bg-emerald-green h-10 hidden lg:block">
    <div class="flex p-1 pt-2 justify-around items-center overflow-hidden">
      <div class="flex text_move">
        <img class='w-6' src="/assets/icon/appareil-electromenager.png" alt="">
        <p class="px-4 lg:text-base text-xs">TOUS LES PRODUITS ELECTROMÉNAGERS SONT GARANTIES 7 ANS !</p>
      </div>
      <div class='flex text_move'>
        <img class='w-6' src="/assets/icon/back-arrow.png" alt="">
        <p class="px-4 lg:text-base text-xs">RETOUR GRATUIT !</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-6 py-4 flex items-center justify-between relative">
    <div class="flex items-center space-x-6 justify-between">
      <div class="w-40 flex-shrink-0">
        <a href="/"> <img src="/assets/logo-MA2.png" alt="Logo" class="h-12 w-auto"></a>
      </div>

      <!-- Menu pour grands écrans -->
      <nav class="hidden lg:flex space-x-6">
        <button (click)="toggleSousMenu()" class="text-white font-gotham">Nos produits</button>
        <a href="#" class="text-white font-gotham">Nouveautés</a>
        <ng-container *ngIf="isLoggedIn">
          <a *ngIf="isAdmin" href="/admin" class="text-white font-gotham hover:text-emerald-green">Espace Admin</a>
        </ng-container>

      </nav>
    </div>

    <!-- Autres éléments -->
    <div class="flex items-center space-x-7 hidden lg:flex">
      <div class="searchBar" *ngIf="showSearchBar">
        <input type="text" name="search" class="rounded-md w-60 p-1" placeholder="Rechercher...">
      </div>
      <button (click)="toggleSearchBar()" class="w-8 h-8 flex-shrink-0">
        <img src="assets/icon/loupe (1).png" alt="Search" class="w-full h-full object-contain">
      </button>
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <a href="liste-de-souhaits"> <img src="assets/icon/heart (2).png" alt="Favorites" class="w-6 h-6 lg:w-8 lg:h-8"></a>
        <a href="/panier"> <img src="assets/icon/shopping-bag (2).png" alt="Cart" class="w-6 h-6 lg:w-8 lg:h-8"></a>
        <a href="/profil" class="text-white font-gotham hover:text-emerald-green"><img src="assets/icon/user.png" alt="User" class="w-6 h-6 lg:w-8 lg:h-8"></a>
        <button (click)="logout()" class="text-white font-gotham hover:text-emerald-green">Déconnexion</button>
      </ng-container>

      <ng-template #loggedOut>
        <a href="/auth/connexion" class="text-white font-gotham hover:text-emerald-green">Connexion</a>
        <a href="/auth/inscription" class="text-white font-gotham hover:text-emerald-green">Inscription</a>
      </ng-template>
    </div>

    <!-- Bouton menu burger pour petits écrans -->
    <div class="flex gap-5 block lg:hidden">
      <a href="/panier">
        <img src="assets/icon/shopping-bag (2).png" alt="Cart" class="block lg:hidden w-6 h-6 lg:w-8 lg:h-8">
      </a>
      <button (click)="toggleMenu()" class="lg:hidden text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Menu déroulant pour petits écrans -->
  <div id="menu" class="lg:hidden bg-mobalpa-green text-white font-gotham absolute top-full left-0 right-0 z-50 hidden">
    <div class="flex">
      <!-- Colonne de gauche pour les liens principaux -->
      <div class="w-1/2 flex flex-col items-start">
        <a href="#" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Nouveautés</a>
        <ng-container *ngIf="isLoggedIn; else loggedOut2">
          <a *ngIf="isAdmin" href="/admin" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Espace Admin</a>
          <a href="/liste-de-souhaits" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Liste de souhaits</a>
          <a href="/profil" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Mon compte</a>
          <button (click)="logout()" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Déconnexion</button>
        </ng-container>
        <ng-template #loggedOut2>
          <a href="/auth/inscription" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Inscription</a>
          <a href="/auth/connexion" class="block px-6 py-4 hover:bg-mobalpa-green-alternate w-full text-left  text-lg font-bold  cursor-pointer">Connexion</a>
        </ng-template>
      </div>

      <!-- Colonne de droite pour le sous-menu "Nos produits" -->
      <div class="w-1/2 bg-white text-black overflow-y-auto max-h-screen">
        <ul class="divide-y divide-gray-200">
          <li *ngFor="let category of categories" class="">
            <h2 class="text-lg font-bold  cursor-pointer hover:bg-emerald-green hover:text-white py-4 px-6" (click)="toggleSubcategories(category.uuid)">
              {{ category.name }}
            </h2>
            <ul class="space-y-2" *ngIf="category.isOpen">
              <li *ngFor="let subcategory of category.subcategories">
                <a href="/categories/{{ subcategory.uri }}" class="text-base text-gray-700 m-6 hover:underline">{{ subcategory.name }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="sous-menu" class="bg-white text-black font-gotham divide-y divide-gray-200 absolute top-full left-0 right-0 z-50 hidden">
    <div class="px-5 py-8 border-b-2 shadow-2xl border-black">
      <div class="hidden lg:grid lg:grid-cols-5 lg:gap-8 lg:mb-4">
        <div *ngFor="let category of categories" class="flex items-center">
          <h2 class="text-xl font-bold">
            <a href="/categories/{{ category.uri }}">{{ category.name }}</a>
          </h2>
        </div>
      </div>
      <div class="hidden lg:grid lg:grid-cols-5 lg:gap-8">
        <div *ngFor="let category of categories" class="relative flex flex-col justify-between">
          <ul class="space-y-2 h-36">
            <li *ngFor="let subcategory of category.subcategories">
              <a href="/categories/{{ subcategory.uri }}">{{ subcategory.name }}</a>
            </li>
          </ul>
          <div class="mt-10">
            <div *ngIf="category.images && category.images.length > 0">
              <img src="{{ category.images[0].uri }}" alt="{{ category.name }}" class="w-full h-36 object-cover">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
