<div class="flex justify-center">

    <div class="h-80 w-72">
        <img src="assets/grille-pain-avec-2-fentes-toasteo-de-kitchencook.jpg" alt=""
            class="w-medium-carrousel h-medium-carrousel">
        <p class="text-xs font-gotham">Grille Pain</p>
        <p class="text-base font-bold font-gotham">Micro-ondes monofonction Samsung MS23K3515AK</p>
        <div class="flex text-lg">
            <div class=" text-yellow-400 flex">
                <p>&#9733;</p>
                <p>&#9733;</p>
                <p>&#9733;</p>
                <p>&#9733;</p>
                <p>&#9733;</p>
            </div>

            <p class="text-base">(21)</p>
        </div>
        <p class="bg-red-600 w-1/2 text-white text-center">BON PLAN 50%</p>
        <div class="flex justify-between" >
            <p class="text-3xl font-gotham ">12,99€</p>
           <button> <div class="bg-red-600 flex w-24 h-9 justify-center items-center rounded-lg"><img src="assets/icon/cart.png" alt="" class="w-7 h-6"></div></button>

        </div>
        <p class="line-through	text-gray-600">19,99</p>
    </div>
</div>