<div class="container mx-auto w my-10 p-4">
    <div class="flex flex-col items-center">
        <h1 class="text-3xl font-aquawax text-center mb-6">Nos Fournisseurs de Confiance</h1>
        <p class="mb-10 w-1/2 ">
            Nous collaborons avec des leaders du secteur de l'électroménager pour vous proposer une gamme complète
            d'appareils fiables et innovants. Découvrez nos partenaires qui partagent notre engagement envers la qualité
            et la durabilité.
        </p>
    </div>


    <div class="flex flex-col items-center gap-10">
        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/AEG_Logo.png" alt="AEG logo">
            <div class="flex flex-col">
                <p class="mb-4">AEG propose des appareils électroménagers qui combinent performance et design moderne.
                    Avec des solutions adaptées à tous les besoins, AEG est un partenaire précieux pour des cuisines
                    fonctionnelles et élégantes.</p>
                <a (click)="testLink()" href="https://www.aeg.fr/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur AEG</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/Bosch-Logo.png" alt="Bosch logo">
            <div class="flex flex-col">
                <p class="mb-4">Bosch est synonyme de performance et d'efficacité. Reconnue pour ses technologies de
                    pointe et son engagement en matière de durabilité, Bosch propose une gamme complète d’appareils
                    électroménagers qui se distinguent par leur fiabilité et leur innovation.</p>
                <a (click)="testLink()" href="https://www.bosch-home.fr/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur Bosch</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/Electrolux-Logo.png" alt="Electrolux logo">
            <div class="flex flex-col">
                <p class="mb-4">Electrolux est un acteur majeur dans le secteur des appareils électroménagers, offrant
                    des produits qui allient performance, efficacité énergétique et design contemporain. Son engagement
                    envers l'innovation et la durabilité en fait un partenaire de choix.</p>
                <a (click)="testLink()" href="https://www.electrolux.fr/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur
                    Electrolux</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/gaggenau-logo.png" alt="Gaggenau logo">
            <div class="flex flex-col">
                <p class="mb-4">Gaggenau est synonyme d'excellence dans le monde des appareils électroménagers de luxe.
                    Avec ses produits haut de gamme, la marque propose des solutions innovantes pour les amateurs de
                    cuisine exigeants.</p>
                <a (click)="testLink()" href="https://www.gaggenau.com/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur
                    Gaggenau</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/Liebherr-Logo.png" alt="Liebherr logo">
            <div class="flex flex-col">
                <p class="mb-4">Liebherr est reconnu pour ses réfrigérateurs et congélateurs innovants, offrant des
                    solutions efficaces pour la conservation des aliments. La marque se distingue par sa qualité et son
                    savoir-faire technique.</p>
                <a (click)="testLink()" href="https://www.liebherr.com/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur
                    Liebherr</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/miele-1-logo.png" alt="Miele logo">
            <div class="flex flex-col">
                <p class="mb-4">Miele est une marque allemande réputée pour ses appareils électroménagers de haute
                    qualité et sa durabilité. Avec une gamme complète allant des lave-linge aux réfrigérateurs, Miele
                    est le choix idéal pour ceux qui recherchent l'excellence.</p>
                <a (click)="testLink()" href="https://www.miele.fr/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur Miele</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/Siemens-Logo.png" alt="Siemens logo">
            <div class="flex flex-col">
                <p class="mb-4">Siemens est un leader dans le domaine des appareils électroménagers, offrant des
                    solutions innovantes et fiables pour chaque besoin. Avec une large gamme de produits allant des
                    fours et plaques de cuisson aux réfrigérateurs et lave-vaisselles, Siemens se distingue par sa
                    qualité et son design moderne.</p>
                <a (click)="testLink()" href="https://www.siemens-home.bsh-group.com/" class="text-blue-500 hover:text-emerald-green">En savoir plus
                    sur Siemens</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/Smeg-Logo.png" alt="Smeg logo">
            <div class="flex flex-col">
                <p class="mb-4">Smeg est célèbre pour ses appareils électroménagers au design distinctif et à la qualité
                    irréprochable. La marque allie esthétique rétro et technologies modernes, offrant des produits qui
                    se démarquent dans toute cuisine.</p>
                <a (click)="testLink()" href="https://www.smeg.fr/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur Smeg</a>
            </div>
        </div>

        <div class="flex flex-col md:flex md:flex-row items-start gap-20 max-w-4xl">
            <img class="" src="assets/logo/Whirpool-Logo.png" alt="Whirlpool logo">
            <div class="flex flex-col">
                <p class="mb-4">Whirlpool est une marque de confiance mondialement reconnue pour ses appareils
                    électroménagers performants et durables. Leur gamme variée comprend des réfrigérateurs,
                    lave-vaisselles, et fours, conçus pour améliorer le quotidien des consommateurs.</p>
                <a (click)="testLink()" href="https://www.whirlpool.fr/" class="text-blue-500 hover:text-emerald-green">En savoir plus sur
                    Whirlpool</a>
            </div>
        </div>
    </div>
</div>