
    <div class="flex w-screen">
      <!-- Sidebar -->
      <div class="w-64 h-screen bg-gray-200 text-black p-4">
        <div class="tabs border-gray-600 mb-4">
          <div *ngFor="let tab of tabs; let i = index" (click)="selectTab(i)"
               class="tab p-2 cursor-pointer text-start flex-1 sm:flex-auto hover:bg-gray-300"
               [class.active]="selectedTab === i" [class.border-blue-500]="selectedTab === i">
            {{ tab.title }}
          </div>
        </div>
      </div>
      <!-- Main Content -->
      <div class="tab-content p-4 w-screen overflow-auto">
        <!-- Utilisateurs Tab -->
        <div *ngIf="selectedTab === 0" class="min-w-full">
          <div *ngIf="users.length > 0; else noUsers">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prénom</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Nom</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Téléphone</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date de Naissance</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Adresse</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Code Postal</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Ville</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actif</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Créé le</th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Mis à Jour le</th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let user of users">
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.firstname }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.lastname }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.email }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.phoneNumber }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.birthdate }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.address || 'Non spécifié' }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.zipcode || 'Non spécifié' }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.city || 'Non spécifié' }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.active ? 'Oui' : 'Non' }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.createdAt }}</td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ user.updatedAt || 'Jamais' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #noUsers>
            <p>Aucun Utilisateur trouvé.</p>
          </ng-template>
        </div>

        <!-- Contenu pour Produits -->
        <div *ngIf="selectedTab === 1">
          <p>Aucun Produit.</p>
        </div>

        <!-- Contenu pour Catégorie -->
        <div *ngIf="selectedTab === 2">
          <p>Aucune Catégorie.</p>
        </div>

        <!-- Contenu pour Sous-Catégorie -->
        <div *ngIf="selectedTab === 3">
          <p>Aucune Sous-Catégorie.</p>
        </div>
      </div>
    </div>

