
<div class="flex justify-center mx-4 md:mx-20 flex-col mb-10">
    <div class="flex justify-center">
        <h1
            class="font-gotham text-2xl md:text-4xl bg-gray-100 px-10 md:px-40 py-4 md:py-6 my-6 md:m-16 rounded-3xl w-full  flex justify-center">
            Liste de souhaits</h1>
    </div>
    <div class="flex flex-col md:flex md:flex-row md:justify-between">
        <div class="w-full">
            <div class="bg-gray-100 py-4 md:py-6 rounded-3xl flex justify-around m-2 hidden md:flex">
                <p class="font-gotham w-auto text-sm md:text-base hidden md:flex">Article</p>
                <p class="font-gotham w-auto text-sm md:text-base hidden md:flex">Prix</p>
                <p class="font-gotham w-auto text-sm md:text-base hidden md:flex">Ajouter au panier</p>

                <p class="font-gotham w-auto text-sm md:text-base  md:hidden">Vos articles</p>

            </div>
            <!-- article -->
            <div class="bg-gray-100 py-4 rounded-3xl flex flex-col md:flex-row justify-around m-2 items-center">
                <div class="flex mb-4 md:mb-0">
                    <img src="assets/grille-pain-avec-2-fentes-toasteo-de-kitchencook.jpg" alt=""
                        class="h-24 md:h-40 mr-3">
                    <div>
                        <h2 class="text-sm md:text-lg font-gotham"><b>Grille Pain</b></h2>
                        <p class="font-gotham text-sm md:text-base">🟢 en stock</p>
                    </div>
                </div>
                
                <div class="flex items-center">
                    <p class="font-gotham text-red-500 w-auto text-xl md:text-3xl">$299</p> <!-- prix exemple -->
                </div>

                <div class="flex items-center">
                    <button class="text-lg px-7 py-1 bg-lime-600  rounded-2xl"> ajouter au panier</button> <!-- prix exemple -->
                    <button class="ml-4 md:ml-10 text-xl md:text-2xl">x</button>
                </div>
            </div>


            
            
        </div>
        
    </div>
</div>