<div class="container mx-20 py-8">
    <h1 class="text-5xl font-semibold mb-10 ">Livraison</h1>
    <section>
        <ul>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="livraison/comment-se-passe-une-livraison">
                    Comment se passe une livraison ?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="livraison/quelles-sont-les-methodes-de-livraison">
                    Quelles sont les méthodes de livraison ?
                </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="livraison/annuler-commande-en-cours-de-livraison">
                    Puis-je annuler une commande en cours de livraison ?
                 </a>
            </li>
            <li class="hover:underline text-blue-700 text-xl hover:text-emerald-green mb-2">
                <a href="livraison/quelle-sont-les-frais-de-livraison">
                    Quels sont les frais de livraisons ?
                </a>
            </li>
        </ul>
    </section>
</div>