<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Puis-je annuler une livraison en cours ?</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
        Si vous souhaitez annuler une commande qui est déjà en cours de livraison, il est essentiel de contacter le plus
        rapidement possible le magasin Mobalpa où vous avez passé la commande. Plus vous agissez tôt, plus il y a de chances de
        pouvoir bloquer la livraison.
        </li>
        <li class="text-xm mb-4">
        Consultez les conditions générales de vente que vous avez acceptées lors de votre achat. Certaines commandes, notamment
        celles de produits sur mesure comme les cuisines, peuvent être difficilement annulables une fois la fabrication
        commencée ou la livraison en cours.
        </li>
        <li class="text-xm mb-4">
        Si l'annulation est possible, des frais d'annulation peuvent être appliqués. Ces frais couvrent généralement les coûts
        engagés pour la fabrication, la logistique et la livraison.
        </li>
        <li class="text-xm mb-4">
        Si la livraison est déjà en cours ou que vous n'avez pas pu annuler à temps, vous pouvez refuser la livraison lors de
        son arrivée. Dans ce cas, informez immédiatement Mobalpa et le livreur que vous refusez la réception de la commande.
        Toutefois, cela peut entraîner des frais de retour ou d'annulation.
        </li>
        <li class="text-xm mb-4">
        Si vous avez des difficultés ou des questions spécifiques, le service après-vente de Mobalpa est là pour vous assister.
        Ils peuvent vous fournir des détails sur les possibilités d'annulation et les éventuelles implications financières.
        </li>
    </ul>
</div>