<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Que se passe-t-il si le centre de service ne peut pas réparer le produit pendant la
        période de garantie?</h1>
    <h1 class="text-2xl font-semibold ">1.Emballer l'article</h1>
    <ul class="list-none pt-4 w-3/4">
        <li class="text-xm mb-4">
            Si les marchandises ne sont pas réparables ou si, pour une raison quelconque, elles ne peuvent pas être
            réparées dans les délais impartis, le centre de service agréé peut délivrer un certificat de radiation.
        </li>
        <li class="text-xm mb-4">
            Vous pouvez nous contacter avec cet acte, et nous serons en mesure d'échanger les marchandises ou
            d'effectuer un remboursement sur la base de cet acte.
        </li>
        <li class="text-xm mb-4">
            <h1 class="text-2xl font-semibold ">L'acte doit contenir les informations suivantes:</h1>
            <ul class="list-disc pt-4 w-3/4">
                <li class="text-xm mb-4 ml-8">
                    votre nom et prénom;
                </li>
                <li class="text-xm mb-4 ml-8">
                    le nom du centre de service;
                </li>
                <li class="text-xm mb-4 ml-8">
                    le modèle du produit;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les défauts revendiqués, les défauts identifiés lors de l'examen;
                </li>
                <li class="text-xm mb-4 ml-8">
                    la raison pour laquelle les marchandises ne peuvent pas être réparées.
                </li>
            </ul>
        </li>
        <li class="text-xm mb-4">
            Il indique également où les marchandises restent après que le certificat vous a été délivré : dans le centre
            de service ou si elles vous sont remises.
        </li>
        <li class="text-xm mb-4">
            <p>
                Pour pré-vérifier la documentation, veuillez envoyer un paquet de
                documents à l'adresse e-mail
                act?rozetka.com.ua, qui comprend :
            </p>
            <ul class="list-disc pt-4 w-3/4">
                <li class="text-xm mb-4 ml-8">
                    copies scannées (photos) des documents fournis par le centre de service - loi sur le centre de
                    service;
                </li>
                <li class="text-xm mb-4 ml-8">
                    photo, carte de garantie;
                </li>
                <li class="text-xm mb-4 ml-8">
                    photo du ticket de caisse (facture);
                </li>
                <li class="text-xm mb-4 ml-8">
                    photo du produit avec le numéro de série.
                </li>
            </ul>
        </li>
        <li class="text-xm mb-4">
            N'oubliez pas d'indiquer dans l'objet du message : Acte pour inspection.
        </li>
        <li class="text-xm mb-4">
            Après vérification, notre responsable vous contactera pour convenir des mesures à prendre.
        </li>
    </ul>
</div>