<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Comment se passe une livraison ?</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
            Une fois que vous avez choisi et validé votre commande en magasin ou en ligne, un conseiller vous informe des
            délais de livraison prévus. Ces délais varient en fonction de la complexité des meubles et de la disponibilité des
            matériaux.
        </li>
        <li class="text-xm mb-4">
            Avant la livraison, on vous contacte pour convenir d'une date et d'un créneau horaire de livraison qui vous
            conviennent. Il est important d'être disponible lors de la livraison, surtout pour des commandes volumineuses.
        </li>
        
        <li class="text-xm mb-4">
            Les produits sont transportés depuis l'usine ou le dépôt jusqu'à votre domicile par des professionnels de la livraison,
            souvent équipés pour manipuler des meubles encombrants.
        </li>
        <li class="text-xm mb-4">
        À la date convenue, les livreurs se présentent à votre domicile. Ils déchargent les appareils et peuvent les déposer dans
        la pièce de votre choix. Il est conseillé de vérifier l'état des colis avant de signer le bon de livraison.

        </li>
        <li class="text-xm mb-4">
        On vous propose aussi des services d'installation. Si vous avez opté pour cette option, des installateurs qualifiés
        viendront assembler et installer vos appareils à la suite de la livraison.
        </li>
        <li class="text-xm mb-4">
        Après la livraison et éventuellement l'installation, il est recommandé de vérifier que tout est conforme à la commande
        et en bon état. En cas de problème, vous devez contacter rapidement le service après-vente.
        </li>
    </ul>
</div>