<div class="container my-20 flex items-center justify-center flex-col min-h-screen font-gotham mx-auto p-6">
  <div>
    <h1 class="text-4xl text-mobalpa-green font-bold mb-6">Conditions générales d'utilisation</h1>

    <p class="mb-4">Bienvenue sur notre site e-commerce. En accédant à ce site, vous acceptez les présentes conditions
      générales d'utilisation (CGU).</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">1. Acceptation des conditions</h2>
    <p>En utilisant notre site, vous acceptez les présentes CGU dans leur intégralité. Si vous n'acceptez pas ces
      conditions, veuillez ne pas utiliser notre site.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">2. Accès au site</h2>
    <p>Nous nous efforçons de maintenir le site accessible 24h/24, 7j/7, mais nous ne pouvons garantir un accès
      ininterrompu. Nous nous réservons le droit de suspendre ou de retirer l'accès au site à tout moment sans préavis.
    </p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">3. Propriété intellectuelle</h2>
    <p>Tout le contenu du site, y compris les textes, images, logos, et autres éléments, est protégé par les lois sur la
      propriété intellectuelle. Toute reproduction ou utilisation non autorisée de ce contenu est strictement interdite.
    </p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">4. Utilisation du site</h2>
    <p>Vous vous engagez à utiliser le site conformément aux lois en vigueur et aux présentes CGU. Vous ne devez pas
      utiliser le site de manière abusive ou illégale.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">5. Compte utilisateur</h2>
    <p>Pour accéder à certaines fonctionnalités du site, vous devez créer un compte utilisateur. Vous êtes responsable
      de la confidentialité de vos informations de connexion et de toute activité sur votre compte.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">6. Protection des données personnelles</h2>
    <p>Nous nous engageons à protéger vos données personnelles conformément à notre politique de confidentialité. En
      utilisant notre site, vous acceptez la collecte et l'utilisation de vos données personnelles telles que décrites
      dans cette politique.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">7. Limitation de responsabilité</h2>
    <p>Nous ne sommes pas responsables des dommages directs ou indirects résultant de l'utilisation ou de l'incapacité à
      utiliser notre site. Notre responsabilité est limitée dans toute la mesure permise par la loi.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">8. Modifications des CGU</h2>
    <p>Nous nous réservons le droit de modifier les présentes CGU à tout moment. Les modifications seront effectives dès
      leur publication sur le site. Il est de votre responsabilité de consulter régulièrement les CGU pour vous tenir
      informé des changements.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">9. Droit applicable</h2>
    <p>Les présentes CGU sont régies par le droit français. Tout litige sera soumis à la compétence exclusive des
      tribunaux français.</p>

    <h2 class="text-2xl font-semibold mb-4 mt-8">10. Contact</h2>
    <p>Pour toute question concernant les CGU, vous pouvez nous contacter à l'adresse email suivante :
      support&#64;entreprise.com.</p>
  </div>
</div>