<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Quels sont les méthodes de livraison ?</h1>
    <h1 class="text-2xl mb-10 w-3/4">Livraison standard à domicicile</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
            C’est la méthode la plus courante. Les meubles sont livrés directement à votre domicile par des
            professionnels de la
            livraison.
        </li>
        <li class="text-xm mb-4">
            Cette option inclut généralement le déchargement et la mise en place des colis dans la pièce de votre choix.
        </li>
        <li class="text-xm mb-4">
            Les délais de livraison sont fixés en amont, et un créneau horaire est défini pour garantir votre
            disponibilité.
        </li>
    </ul>



    <h1 class="text-2xl mb-10 w-3/4">Livraison premium (avec installation)</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
            En plus de la livraison, cette méthode inclut l'assemblage et l'installation des meubles par des
            professionnels
            qualifiés.
        </li>
        <li class="text-xm mb-4">
            Ce service est particulièrement utile pour les cuisines ou autres installations complexes qui nécessitent
            une expertise
            technique. </li>
        <li class="text-xm mb-4">
            L’équipe s’occupe de tout, du déchargement à l’installation finale, et vous offre la garantie que tout est
            correctement
            installé.
        </li>
    </ul>

    <h1 class="text-2xl mb-10 w-3/4">Retrait en magasin</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
            Si vous préférez, vous pouvez opter pour le retrait de votre commande directement dans l’un des magasins Mobalpa.
        </li>
        <li class="text-xm mb-4">
            Cette option peut être plus rapide et vous permet de récupérer vos articles à votre convenance, sans attendre la
            livraison à domicile. </li>
        <li class="text-xm mb-4">
            Vous devrez cependant vous charger du transport et de l’installation des meubles.

        </li>
    </ul>


    <h1 class="text-2xl mb-10 w-3/4">Livraison par Transporteur Spécialisé</h1>
    <ul class="list-none w-3/4">
        <li class="text-xm mb-4">
        Pour les produits volumineux ou nécessitant un soin particulier, Mobalpa peut faire appel à un transporteur spécialisé.
        </li>
        <li class="text-xm mb-4">
            Ce service est conçu pour garantir la sécurité des articles fragiles ou sur mesure pendant le transport. </li>
       
    </ul>
</div>