<div class="container mx-auto py-8 pl-10">
  <h1 class="text-5xl mb-10 w-3/4">
    Comment renvoyer un produit pour une réparation sous garantie?
  </h1>
  <p class="text-xl mb-4">
    Vous pouvez renvoyer le produit pour réparation dans le magasin ou l'envoyer
    par la poste.
  </p>
  <ul class="list-disc pt-4 w-3/4">
    <li class="text-xm mb-4 ml-8">
      Vous trouverez ici une liste complète des magasins que vous pouvez
      contacter pour obtenir vous-même un service de garantie.
    </li>
    <li class="text-xm mb-4 ml-8">
      Si vous n'avez pas de bureau de représentation dans votre ville, veuillez
      envoyer le produit par la poste avec une demande de garantie dûment
      remplie. Veuillez joindre la carte de garantie au produit.
    </li>
    <li class="text-xm mb-4 ml-8">
      Lorsque vous envoyez des marchandises par service de messagerie, effectuez
      un envoi en utilisant les détails :
      <p class="mt-2">Bénéficiaire - Mobalpa.</p>
      <p class="mt-2">
        Téléphone - 01-23-45-67-89 (uniquement comme contact pour l'envoi).
      </p>
      <p class="mt-2">Type de livraison - porte-à-porte.</p>
      <p class="mt-2">Adresse - 112 Trav. de la Serviane, 13012 Marseille.</p>
      <p class="mt-2">Paiement à la livraison - à la charge de l'expéditeur.</p>
      <p class="mt-2">
        La valeur déclarée est égale à la valeur des marchandises figurant sur
        le ticket de caisse.
      </p>
    </li>
  </ul>
</div>
