<div class="container mx-auto py-8 pl-10">
    <h1 class="text-5xl mb-10 w-3/4">
        Dans quels cas la garantie n'est-elle pas assurée ?
    </h1>
    <ul class="list-none pt-4 w-3/4">
        <li class="text-xm mb-4">
            <h1 class="text-2xl font-semibold ">
                La garantie n'est pas assurée si:
            </h1>
            <ul class="list-disc pt-4 w-3/4">
                <li class="text-xm mb-4 ml-8">
                    L'intégrité des sceaux de garantie a été compromise ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    il y a des dommages mécaniques ou autres causés par des actions intentionnelles ou négligentes de
                    l'acheteur ou de tiers ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les règles d'utilisation énoncées dans les documents d'exploitation ont été violées ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les communications internes et les composants du produit ont été ouverts, réparés ou modifiés sans
                    autorisation, ou la conception ou les schémas du produit ont été modifiés ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    la carte de garantie a été mal remplie ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    le numéro de série ou IMEI enregistré dans la mémoire du produit a été modifié, effacé ou ne peut
                    être déterminé.
                </li>
            </ul>
        </li>
    </ul>
    <ul class="list-none pt-4 w-3/4">
        <li class="text-xm mb-4">
            <h1 class="text-2xl font-semibold ">
                Ces dysfonctionnements ne sont pas couverts par la garantie:
            </h1>
            <ul class="list-disc pt-4 w-3/4">
                <li class="text-xm mb-4 ml-8">
                    l'usure naturelle ou l'épuisement de la ressource ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les dommages accidentels causés par le client ou les dommages résultant d'une négligence ou d'une
                    utilisation (exposition à des liquides, à la poussière, à des objets étrangers, etc ;)
                </li>
                <li class="text-xm mb-4 ml-8">
                    les dommages causés par des catastrophes naturelles (phénomènes naturels) ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les dommages causés par une augmentation ou une diminution d'urgence de la tension dans le réseau
                    d'alimentation électrique ou par une mauvaise connexion au réseau d'alimentation électrique ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les dommages causés par des défauts du système dans lequel le produit a été utilisé, ou résultant de
                    la connexion et du raccordement du produit à d'autres produits ;
                </li>
                <li class="text-xm mb-4 ml-8">
                    les dommages causés par l'utilisation du produit à d'autres fins ou en violation des règles de
                    fonctionnement.
                </li>
            </ul>
        </li>
    </ul>
</div>