<div class="container mx-auto py-8">
    <h1 class="text-4xl text-mobalpa-green font-bold mb-6">À propos d'Archidéco</h1>   
    <section class="mb-12">
      <h2 class="text-2xl text-mobalpa-green font-semibold mb-4 mt-8">Qui sommes-nous?</h2>
      <p class="text-lg text-gray-700">
        Archideco est un groupe de trois magasins opérant sous l'enseigne Mobalpa. Fondée en 2019, l'entreprise 
        s'est rapidement développée pour compter trois points de vente à Marseille et dans les environs. Nous sommes fiers de notre approche 
        du mobilier et de l'aménagement de la maison, en combinant des années d'expérience avec des solutions numériques modernes.
      </p>
    </section>
    <section class="mb-12 bg-gray-100 p-6 rounded-lg">
      <h2 class="text-2xl text-mobalpa-green font-semibold mb-4 mt-8">Nos valeurs</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>La qualité sans compromis</li>
        <li>Approche individuelle de chaque client</li>
        <li>Responsabilité et développement durable</li>
        <li>Innovation et tradition en harmonie</li>
        <li>La recherche de l'excellence</li>
      </ul>
    </section>
    <section class="mb-12">
      <h2 class="text-2xl text-mobalpa-green font-semibold mb-4 mt-8">Notre héritage</h2>
      <p class="text-lg text-gray-700">
        Archideco a été créée en 2019 et s'est rapidement développée grâce au professionnalisme et à l'expertise d'Arnaud Peron,
        présent dans l'entreprise depuis 23 ans et spécialiste du mobilier et de l'aménagement de la maison. Notre entreprise 
        mise beaucoup sur le développement commercial digital, en proposant une partie de la gamme en ligne.
      </p>
    </section>
    <section class="mb-12 bg-gray-100 p-6 rounded-lg">
      <h2 class="text-2xl text-mobalpa-green font-semibold mb-4 mt-8">Pourquoi Archideco ?</h2>
      <ul class="list-disc list-inside space-y-2">
        <li>Produits de haute qualité de la marque Mobalpa</li>
        <li>Approche individuelle de chaque projet</li>
        <li>Large gamme de matériaux et de modèles</li>
        <li>Matériaux et production respectueux de l'environnement</li>
        <li>Une équipe professionnelle avec de nombreuses années d'expérience</li>
      </ul>
    </section>
    <section class="mb-12">
      <h2 class="text-2xl text-mobalpa-green font-semibold mb-4 mt-8">Notre équipe</h2>
      <p class="text-lg text-gray-700">
        L'équipe d'Archideco est composée de professionnels hautement qualifiés qui sont prêts à vous assister à chaque étape de votre projet.
        Nous croyons en l'importance du facteur humain, c'est pourquoi chaque membre de notre équipe est un professionnel dans son domaine, 
        et se consacre à son métier.
      </p>
    </section>
    <section class="mb-12 bg-gray-100 p-6 rounded-lg">
      <h2 class="text-2xl text-mobalpa-green font-semibold mb-4 mt-8">Contactez nous</h2>
      <p class="text-lg text-gray-700 mb-4">
        Si vous avez des questions ou si vous souhaitez en savoir plus sur nos services, n'hésitez pas à nous contacter. Nous sommes toujours heureux 
        de vous aider!
      </p>
      <p class="text-lg text-gray-700">
        Email: <a href="mailto:mobalpa-new-client@outlook.com" class="text-blue-500 underline">mobalpa-new-client&#64;outlook.com</a>
      </p>
      <p class="text-lg text-gray-700">
        Téléphone: <a href="tel:+33123456789" class="text-blue-500 underline">+33 1 23 45 67 89</a>
      </p>
    </section>
  </div>
