<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Comment retourner un produit?</h1>
    <div class="text-xl mb-8 w-3/4">
        Vous pouvez renvoyer le produit dans les 14 jours suivant la date d'achat.
    </div>
    <section>
        <h1 class="text-2xl font-semibold ">1.Emballer l'article</h1>
        <ul class="list-disc pt-4 w-3/4">
            <li class="text-xm mb-4 ml-8">
                Vérifiez si votre produit peut <a href=""
                    class="hover:underline text-blue-700 hover:text-orange-500 mb-2">être retourné.</a>
            </li>
            <li class="text-xm mb-4 ml-8">
                Mettez le produit neuf dans son emballage d'origine sans aucune trace d'utilisation. Si le produit est
                composé de plusieurs pièces, vous devez renvoyer l'ensemble. Assurez-vous que rien n'est perdu et que
                vous renvoyez le produit dans l'ensemble complet dans lequel vous l'avez reçu.
            </li>
            <li class="text-xm mb-4 ml-8">
                Si vous avez acheté un produit avec un cadeau, vous devez retourner l'ensemble (produit et cadeau). Dans
                le cas contraire, la valeur nominale du cadeau sera déduite du montant du remboursement.
            </li>
            <li class="text-xm mb-4 ml-8">
                Il n'est pas nécessaire d'envoyer un chèque.
            </li>
        </ul>
    </section>
    <section>
        <h1 class="text-2xl font-semibold ">2.Remplir le formulaire de retour de produit</h1>
        <ul class="list-disc pt-4 w-3/4">
            <!-- <li class="text-xm mb-4 ml-8">
                Vous pouvez le faire dans votre <a href=""
                    class="hover:underline text-blue-700 hover:text-orange-500 mb-2">compte personnel</a> sur le site
                web.
            </li> -->
            <li class="text-xm mb-4 ml-8">
                Remplir le formulaire papier si vous l'avez reçu avec les marchandises.
            </li>
            <li class="text-xm mb-4 ml-8">
                Si vous avez perdu le formulaire papier, vous pouvez le trouver et l'imprimer <a href=""
                    class="hover:underline text-blue-700 hover:text-orange-500 mb-2">ici.</a>
            </li>
            <p class="font-semibold pb-2">Important:</p>
            <ul class="list-disc text-xm pt-4 w-3/4">
                <li class="text-xm mb-4 ml-8">Dans le formulaire, indiquez clairement le nom et le prénom du
                    titulaire de la
                    carte bancaire.</li>
                <li class="text-xm mb-4 ml-8">Veillez à remplir tous les champs.</li>
            </ul>
        </ul>
    </section>
    <section>
        <h1 class="text-2xl font-semibold ">3.Où apporter les marchandises</h1>
        <ul class="list-disc pt-4 w-3/4">
            <li class="text-xm mb-4 ml-8">Vous pouvez retourner les marchandises dans tous les magasins Mobalpa.</li>
            <li class="text-xm mb-4 ml-8">Si la décision d'accepter le retour des marchandises ne peut être prise sur
                place, les marchandises seront envoyées à un centre de service pour diagnostic/inspection des
                marchandises. La période d'examen peut aller jusqu'à 14 jours.</li>
            <li class="text-xm mb-4 ml-8"></li>
        </ul>
    </section>
    <section>
        <h1 class="text-2xl font-semibold ">4.Comment envoyer des marchandises par service de messagerie</h1>
        <div class="pt-4 w-3/4">
            <p class="text-xm mb-4">Si vous n'avez pas de magasin dans votre ville, vous pouvez renvoyer les
                marchandises par courrier dans un délai de 14 jours à compter de la date d'achat.</p>
        </div>
        <h1 class="text-2xl font-semibold ">Comment envoyer un produit au service après-vente?</h1>
        <ul class="list-decimal pt-4 w-3/4">
            <li class="text-xm mb-4 ml-8">
                Visitez le bureau de poste le plus proche
            </li>
            <li class="text-xm mb-4 ml-8">Effectuer un envoi en utilisant les détails :
                <p class="mt-2">Bénéficiaire - Mobalpa.</p>
                <p class="mt-2">Téléphone - 01-23-45-67-89 (uniquement comme contact pour l'envoi).</p>
                <p class="mt-2">Type de livraison - porte-à-porte.</p>
                <p class="mt-2">Adresse - 112 Trav. de la Serviane, 13012 Marseille.</p>
                <p class="mt-2">Paiement à la livraison - à la charge de l'expéditeur.</p>
                <p class="mt-2">La valeur déclarée est égale à la valeur des marchandises figurant sur le ticket de
                    caisse.</p>
            </li>
            <li class="text-xm mb-4 ml-8">Les services de livraison en retour et de contre-remboursement devraient être
                annulés.</li>
        </ul>
        <p>Nous n'acceptons les retours que si les marchandises sont en bon état :</p>
        <ul class="list-disc pt-4 w-3/4">
            <li class="text-xm mb-4 ml-8">sans dommages mécaniques;</li>
            <li class="text-xm mb-4 ml-8">entièrement équipée ;</li>
            <li class="text-xm mb-4 ml-8">avec toutes les étiquettes et tous les marquages d'usine intacts.</li>
        </ul>
        <p class="mb-4">L'échange/le retour de marchandises nécessitant un raccordement à une canalisation d'eau ou de
            gaz est possible à condition que les marchandises n'aient pas été installées et qu'elles n'aient pas perdu
            leur présentation.</p>
    </section>
    <section>
        <h1 class="text-2xl font-semibold">5.Comment puis-je obtenir le remboursement des marchandises ?</h1>
        <ul class="list-none pt-4 w-3/4">
            <li class="text-xm mb-4">Vous pouvez fournir les détails de votre carte bancaire pour un remboursement lorsque vous effectuez un
                retour sur un formulaire de retour papier. Veuillez indiquer le numéro de la carte et le nom complet du
                titulaire de la carte bancaire en ukrainien sur le formulaire de retour.</li>
        <li class="text-xm mb-4">En général, l'argent est remboursé dans les 2 à 7 jours suivant la décision de remboursement.</li>
    </ul>
    </section>
</div>