<div class="h-auto py-10 bg-cover bg-center bg-[url('/assets/marbretexturevert.png')]">
    <div class="flex flex-col space-y-4 md:space-y-0 md:flex-row items-center justify-around h-full px-4 md:px-20">
        <div class="flex flex-col items-center justify-center text-white font-gotham mx-2 md:mx-4">
            <img class="h-24 md:h-32 mb-2" src="assets/icon/fidelite-du-consommateur.png" alt="Fidélité du consommateur">
            <p class="text-center text-sm md:text-base">Bénéficiez du programme<br> de fidélité Mobalpa</p>
        </div>

        <div class="hidden md:block w-24 bg-white h-px mx-4"></div>

        <div class="flex flex-col items-center justify-center text-white font-gotham mx-2 md:mx-4">
            <img class="h-24 md:h-32 mb-2" src="assets/icon/livraison-rapide (1).png" alt="Livraison rapide">
            <p class="text-center text-sm md:text-base">Livraison depuis nos entrepôts<br> dans toute la région</p>
        </div>

        <div class="hidden md:block w-24 bg-white h-px mx-4"></div>

        <div class="flex flex-col items-center justify-center text-white font-gotham mx-2 md:mx-4">
            <img class="h-24 md:h-32 mb-2" src="assets/icon/service-clients.png" alt="Service clients">
            <p class="text-center text-sm md:text-base">Le service client est disponible<br> à tout moment</p>
        </div>
    </div>
</div>