<div class="h-120 md:h-52 bg-cover bg-center bg-[url('/assets/marbretexturevert.png')]">
    <div class="flex flex-col md:flex-row  items-center mx-20 justify-around h-full">
        <!-- Ligne horizontale -->
        <div class="w-24 bg-white h-px md:block hidden"></div>

        <!-- Première icône et texte -->
        <div class="text-white font-gotham flex flex-col items-center justify-center">
            <img class="h-32" src="assets/icon/fidelite-du-consommateur.png" alt="Fidélité du consommateur">
            <p class="text-center">Programme de fidélité</p>
        </div>

        <!-- Ligne horizontale -->
        <div class="w-24 bg-white h-px md:block hidden"></div>

        <!-- Deuxième icône et texte -->
        <div class="text-white font-gotham flex flex-col items-center justify-center">
            <img class="h-32" src="assets/icon/livraison-rapide (1).png" alt="Livraison rapide">
            <p class="text-center">Livraison dans toute la région</p>
        </div>

        <!-- Ligne horizontale -->
        <div class="w-24 bg-white h-px md:block hidden"></div>

        <!-- Troisième icône et texte -->
        <div class="text-white font-gotham flex flex-col items-center justify-center">
            <img class="h-32" src="assets/icon/service-clients.png" alt="Service clients">
            <p class="text-center">Service client à votre écoute</p>
        </div>

        <!-- Ligne horizontale -->
        <div class="w-24 bg-white h-px md:block hidden"></div>
    </div>
</div>