<div class="container mx-auto py-8">
    <ul class="text-sl justify-between w-1/3 flex mb-1">
        <li class="text-green-600 hover:underline">
            <a href="">Tout sur le produit</a>
        </li>
        <li class="hover:underline">
            <a href="">Caractéristiques</a>
        </li>
        <li class="hover:underline">
            <a href="">Avis</a>
        </li>
        <li class="hover:underline">
            <a href="">Questions</a>
        </li>
    </ul>
    <hr> 
    <div class="mt-3">
        <div class="p-3 border rounded bg-emerald-green bg-opacity-50 w-96">
            <img src="https://via.placeholder.com/400" alt="Product Image">
        </div>
    </div>
</div>
