<h1 class="px-4 text-4xl font-gotham text-center md:px-24">Catégorie tendance</h1>
<div class="p-4 mx-20 flex flex-col md:flex-row justify-center items-center">
    <div class="text-center  w-full md:w-1/2  text-xl md:text-3xl m-4">
        <div class="h-64   bg-black m-auto"></div>
        <p >Petit électroménager</p>
    </div>
    <div class="text-center w-full  text-xl md:text-3xl m-4 md:w-1/2">
        <div class="h-64   bg-black m-auto"></div>
        <p>Salle de bain</p>
    </div>
</div>
<div class="flex justify-center">
    <a href="category" class="text-5xl">+</a>
</div>