<footer class="bg-gray-200">
    <div class="flex flex-col md:flex-row justify-around p-4 md:p-8">
        <div class="mb-8 md:mb-0 flex flex-col items-center md:items-start">
            <img class="w-48 md:w-72 p-4" src="assets/footer-icon/mini-logo-MA3.png" alt="Logo">
            <div class="flex justify-center md:justify-start gap-5 mt-4">
                <img class="w-6 h-6 md:w-9 md:h-9" src="assets/footer-icon/instagram_1.png" alt="Instagram">
                <img class="w-6 h-6 md:w-9 md:h-9" src="assets/footer-icon/twitter_.png" alt="Twitter">
                <img class="w-6 h-6 md:w-9 md:h-9" src="assets/footer-icon/facebook-circular-logo.png" alt="Facebook">
                <img class="w-6 h-6 md:w-9 md:h-9" src="assets/footer-icon/youtube.png" alt="YouTube">
                <img class="w-6 h-6 md:w-9 md:h-9" src="assets/footer-icon/whatsapp.png" alt="WhatsApp">
            </div>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8 text-center md:text-left">
            <div class="flex flex-col">
                <p class="p-3 text-sm font-bold">Information sur l'entreprise</p>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">A propos de nous</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Conditions d'utilisation du site</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Vacance</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Contacts</a>
            </div>
            <div class="flex flex-col">
                <p class="p-3 text-sm font-bold">Aide</p>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Livraison</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Garantie</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Retour de marchandise</a>
            </div>
            <div class="flex flex-col">
                <p class="p-3 text-sm font-bold">Service</p>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Bonus</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Certificats</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Pour les employés</a>
            </div>
            <div class="flex flex-col">
                <p class="p-3 text-sm font-bold">Pour les partenaires</p>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Coopération</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Achat en gros</a>
                <a href="#" class="p-3 text-sm text-blue-500 hover:underline">Franchise</a>
            </div>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-between mx-4 md:mx-20 p-5 text-gray-500 text-sm">
        <p class="mb-4 md:mb-0 text-center md:text-left">© 2024 Mobalpa, tous droits réservés</p>

        <div class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 text-center md:text-left">
            <a href="#"
                class="text-gray-500 hover:underline md:after:content-[''] md:after:inline-block md:after:h-4 md:after:w-px md:after:bg-gray-500 md:after:ml-4 md:after:last:hidden">
                Mention légales
            </a>
            <a href="#"
                class="text-gray-500 hover:underline md:after:content-[''] md:after:inline-block md:after:h-4 md:after:w-px md:after:bg-gray-500 md:after:ml-4 md:after:last:hidden">
                Condition de vente
            </a>
            <a href="#" class="text-gray-500 hover:underline">Politique de confidentialité</a>
        </div>
    </div>
</footer>