<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Où demander le service de garantie?</h1>
    <ul class="list-none pt-4 w-3/4">
        <li class="text-xm mb-4">
            Les marchandises vendues dans notre magasin sont couvertes par une garantie, qui confirme l'obligation de
            veiller à ce que les marchandises soient exemptes de défauts d'usine. La garantie est accordée pour une
            période allant de 2 semaines à 84 mois, en fonction de la politique de service du fabricant. La période de
            garantie est indiquée dans la description de chaque produit sur notre site web.
        </li>
        <li class="text-xm mb-4">
            Veuillez vérifier l'intégralité et l'absence de défauts des marchandises à la réception.
        </li>
        <li class="text-xm mb-4">
            Le service de garantie est assuré par des centres de service agréés par les fabricants. Vous pouvez envoyer
            le produit pour une réparation sous garantie ou faire venir un technicien aux frais du centre de service.
            Les options disponibles sont indiquées sur votre carte de garantie.
        </li>
        <li class="text-xm mb-4">
            Les adresses et les numéros de téléphone des centres de service figurent sur la carte de garantie ou sur
            l'internet
        </li>
        <li class="text-xm mb-4">
            S'il n'y a pas de centre de service dans votre ville, vous pouvez contacter notre magasin. Vous pouvez
            également envoyer le produit par courrier. Lisez ici comment procéder.
        </li>
        <li class="text-xm mb-4">
            Si vous devez réparer des produits qui doivent être raccordés à une canalisation d'eau ou de gaz, vous devez
            contacter le centre de service du fabricant le plus proche pour qu'il appelle un technicien. Celui-ci
            inspectera le produit et établira un rapport sur le cas de garantie. Si un acte est établi sur place
            indiquant qu'il s'agit bien d'un cas de garantie et que les produits ne peuvent pas être réparés, les
            produits peuvent être remplacés en contactant le service après-vente du magasin.
        </li>

    </ul>
</div>