<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 w-3/4">Où demander le service de garantie?</h1>
    <ul class="list-none pt-4 w-3/4">
        <li class="text-xm mb-4">
            Les marchandises vendues dans notre magasin sont couvertes par une
            garantie, qui confirme l'obligation de
            veiller à ce que les marchandises soient exemptes de défauts d'usine. La garantie est accordée pour une
            période allant <span class="font-semibold">de 2 semaines à 84 mois</span>, en fonction de la politique de
            service du fabricant. La période de
            garantie est indiquée dans la description de chaque produit sur notre site web.
        </li>
        <li class="text-xm mb-4">
            Veuillez vérifier l'intégralité et l'absence de défauts des marchandises à la réception.
        </li>
        <li class="text-xm mb-4">
            Le service de garantie est assuré par des centres de service agréés par les fabricants. Vous pouvez envoyer
            le produit pour une réparation sous garantie ou faire venir un technicien aux frais du centre de service.
            Les options disponibles sont indiquées sur votre carte de garantie.
        </li>
        <li class="text-xm mb-4">
            Les adresses et les numéros de téléphone des centres de service figurent sur la carte de garantie ou sur
            <a href="https://www.google.com/search?sca_esv=50094aa3d5842932&tbs=lf:1,lf_ui:4&tbm=lcl&sxsrf=ADLYWIKeom476Fpt9_jOwKBK0-F7_MopLw:1724327285016&q=mobalpa+adresse&rflfq=1&num=10&sa=X&ved=2ahUKEwi837Law4iIAxUHRaQEHQLdKZkQjGp6BAgfEAE&biw=1440&bih=731&dpr=2#rlfi=hd:;si:;mv:[[43.532015699999995,6.0502284],[43.0833047,5.214338199999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:4"
                class="hover:underline text-blue-700 hover:text-orange-500 mb-2" target="_blank">
                l'internet
            </a>
        </li>
        <li class="text-xm mb-4">
            S'il n'y a pas de centre de service dans votre ville, vous pouvez contacter notre <a
                href="https://www.google.com/search?sca_esv=50094aa3d5842932&tbs=lf:1,lf_ui:4&tbm=lcl&sxsrf=ADLYWIKeom476Fpt9_jOwKBK0-F7_MopLw:1724327285016&q=mobalpa+adresse&rflfq=1&num=10&sa=X&ved=2ahUKEwi837Law4iIAxUHRaQEHQLdKZkQjGp6BAgfEAE&biw=1440&bih=731&dpr=2#rlfi=hd:;si:;mv:[[43.532015699999995,6.0502284],[43.0833047,5.214338199999999]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!2m4!1e17!4m2!17m1!1e2!3sIAE,lf:1,lf_ui:4"
                class="hover:underline text-blue-700 hover:text-orange-500 mb-2" target="_blank">magasin</a>. Vous
            pouvez
            également envoyer le produit par courrier. Lisez <a
            href="/service-de-garantie/reparation-sous-garantie"
            class="hover:underline text-blue-700 hover:text-orange-500 mb-2" target="_blank">ici</a> comment procéder.
        </li>
        <li class="text-xm mb-4">
            Si vous devez réparer des produits qui doivent être raccordés à une canalisation d'eau ou de gaz, vous devez
            contacter le centre de service du fabricant le plus proche pour qu'il appelle un technicien. Celui-ci
            inspectera le produit et établira un rapport sur le cas de garantie. Si un acte est établi sur place
            indiquant qu'il s'agit bien d'un cas de garantie et que les produits ne peuvent pas être réparés, les
            produits peuvent être remplacés en contactant le service après-vente du magasin.
        </li>

    </ul>
</div>