<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-10 ">Dans quelles situations puis-je retourner les marchandises?</h1>
    <div class="text-xl mb-8">
        Vous pouvez renvoyer le produit dans les 14 jours suivant la date d'achat.
    </div>
    <p class="mb-4">
        Attention : la loi sur la protection des consommateurs ne prévoit pas le retour de toutes les catégories de
        marchandises.
    </p>
    <ul class="list-disc pt-4 w-3/4">
        <p class="mb-4">Vous pouvez renvoyer les marchandises si:</p>
        <li class="text-xm mb-4 ml-8">lors de l'inspection d'un nouveau produit, la couleur ou la taille ne vous
            convenait pas;</li>
        <li class="text-xm mb-4 ml-8">le produit ne correspond pas à ce que vous attendiez;</li>
        <li class="text-xm mb-4 ml-8">le produit ne correspond pas à la description ou à la photo;</li>
        <li class="text-xm mb-4 ml-8">la qualité du produit est insuffisante.</li>
    </ul>
    <p class="mb-4 w-3/4">Important : les marchandises ne doivent pas perdre leur présentation. La marchandise ne doit pas
        perdre sa présentation. L'emballage, le ticket de caisse (ou la facture) et la carte de garantie doivent être
        intacts.</p>
</div>