<div class="bg-gray-100 ">
    <div class="flex  flex-col text-center justify-center">
        <p class="text-2xl">Prix total des articles</p>
        <p class="text-red-500 text-3xl">$299</p>
        <p>voir le panier HT</p>
        <div class="justify-center">
            <button class="text-lg px-7 py-1 bg-lime-600 w-1/5 rounded-2xl ">Passer commande</button>
        </div>
        <div class="flex justify-center">
            <p>Sauvegarder le panier</p>
            <img src="assets/icon/download.png" alt="download" class="h-6">
        </div>
    </div>
</div>