<div class="bg-gray-100 justify-end rounded-3xl p-5">
    <div class="flex  flex-col text-center ">
        <p class="text-2xl mb-5">Prix total des articles :</p>
        <p class="text-red-500 text-3xl mb-5">$299</p>
        <p class="text-xs">voir le panier HT</p>
        <div class="justify-center mb-3">
            <button class="text-lg px-7 py-1 bg-lime-600  rounded-2xl ">Passer commande</button>
        </div>
        <div class="flex justify-center gap-3 items-center mb-3">
            <p class="text-sm">Sauvegarder le panier</p>
            <img src="assets/icon/download.png" alt="download" class="h-6">
        </div>
        <p class="text-xs text-gray-500">Prix TTC, TVA appliquée sur la base du pays: France (métropolitaine)</p>
    </div>
</div>