<div class="container mx-auto py-8 pl-10 ">
    <h1 class="text-5xl mb-8 w-3/4">Quels sont les produits qui peuvent faire l'objet d'une réparation sous garantie?
    </h1>
    <ul class="list-none pt-4 w-3/4">
        <li class="text-xm mb-4">
            Si le produit tombe en panne pendant la période de garantie en raison d'un défaut de fabrication, nous le
            réparerons ou le remplacerons par un nouveau.
        </li>
        <li class="text-xm mb-4">Avant de renvoyer le produit pour une réparation sous garantie, veuillez lire les
            conditions de la réparation sous garantie. Certains produits ne peuvent être réparés que sur le lieu
            d'installation (par exemple, les chaudières, les climatiseurs, les chaudières à gaz, les systèmes de
            filtration d'eau).</li>
        <li class="text-xm mb-4">Pour la réparation des gros appareils ménagers (machines à laver, réfrigérateurs,
            lave-vaisselle, climatiseurs, etc.), vous pouvez appeler un technicien du centre de services à votre
            adresse.</li>
        <li class="text-xm mb-4">
            <p class="font-semibold pb-2 text-2xl">Veillez à ce que:</p>
            <ul class="list-disc pt-4 w-3/4">
                <li class="text-xm mb-4 ml-8">la garantie se met en place ;</li>
                <li class="text-xm mb-4 ml-8">les marchandises ne présentent aucun dommage mécanique ou autre ;</li>
                <li class="text-xm mb-4 ml-8">le produit a été utilisé conformément aux instructions ;</li>
                <li class="text-xm mb-4 ml-8">vous n'avez pas réparé le produit vous-même ni modifié sa conception ;
                </li>
                <li class="text-xm mb-4 ml-8">la carte de garantie est correctement remplie ;</li>
                <li class="text-xm mb-4 ml-8">le numéro de série ou l'IMEI du produit a été enregistré ;</li>
            </ul>
        </li>
        <li class="text-xm mb-4">A noter. Certains produits ne peuvent faire l'objet d'une réparation sous garantie que
            si les accessoires et les modules de composants qui les accompagnent sont disponibles.</li>
        <li class="text-xm mb-4">Pour plus d'informations sur les réparations sous garantie, cliquez
            <a href="https://www.economie.gouv.fr/dgccrf/loi-ddadue-et-protection-du-consommateur"
                class="hover:underline text-blue-700 hover:text-orange-500 mb-2" target="_blank">ici.</a>
        </li>
    </ul>

</div>