<div class="container my-20 flex items-center justify-center flex-col min-h-screen font-gotham mx-auto p-6">
  <div>
    <h1 class="text-4xl text-mobalpa-green font-bold mb-6">Mentions Légales</h1>

    <h2 class="text-2xl font-semibold mb-4">Éditeur du site</h2>
    <p>Nom de l'entreprise</p>
    <p>Adresse de l'entreprise</p>
    <p>Téléphone : 01 23 45 67 89</p>
    <p>Email : contact&#64;entreprise.com</p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Hébergement</h2>
    <p>Nom de l'hébergeur</p>
    <p>Adresse de l'hébergeur</p>
    <p>Téléphone : 01 23 45 67 89</p>
    <p>Email : support&#64;hebergeur.com</p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Droits d'auteur</h2>
    <p>Tout le contenu du site (textes, images, graphismes, logo, etc.) est protégé par le droit d'auteur.</p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Responsabilité</h2>
    <p>L'éditeur ne peut être tenu responsable des dommages directs ou indirects causés par l'utilisation du site.</p>

    <h2 class="text-2xl font-semibold mt-8 mb-4">Politique de confidentialité</h2>
    <p>Pour en savoir plus sur notre politique de confidentialité, consultez notre <a href="/politique-de-confidentialite"
        class="text-blue-600 underline">page dédiée</a>.</p>
  </div>
</div>